.two-col {
  width: 50%;
  float: left;
  padding-bottom: 24px;
  &:nth-child(2n+1){padding-right: 20px;}
  &:nth-child(2n+2){padding-left: 20px;}
  @include respond(medium) {
    &:nth-child(2n+1){padding-right: 10px;}
    &:nth-child(2n+2){padding-left: 10px;}
  }
  @include respond(small) {
    width: 100%;
    padding: 0 !important;
    position: relative;
    z-index: 100;
     +.two-col {
      z-index: 90;
    }
  }
}

.three-col {
  width: 33.33%;
  float: left;
  padding-bottom: 24px;
  &:nth-child(3n+1){padding-right: 26px;}
  &:nth-child(3n+2){padding-right: 13px; padding-left: 13px;}
  &:nth-child(3n+3){padding-left: 26px;}
  @include respond(medium) {
    &:nth-child(3n+1){padding-right: 10px;}
    &:nth-child(3n+2){padding-right: 5px; padding-left: 5px;}
    &:nth-child(3n+3){padding-left: 10px;}
  }
  @include respond(small) {
    width: 100%;
    padding: 0 !important;
    position: relative;
    z-index: 100;
     +.three-col {
      z-index: 90;
      +.three-col {
        z-index: 80;
      }
    }
  }
}

.four-col {
  width: 25%;
  float: left;
  padding-bottom: 24px;
  &:nth-child(3n+1){padding-right: 26px;}
  &:nth-child(3n+2){padding-right: 13px; padding-left: 13px;}
  &:nth-child(3n+3){padding-right: 13px; padding-left: 13px;}
  &:nth-child(3n+4){padding-left: 26px;}
  @include respond(medium) {
    &:nth-child(3n+1){padding-right: 10px;}
    &:nth-child(3n+2){padding-right: 5px; padding-left: 5px;}
    &:nth-child(3n+3){padding-right: 5px; padding-left: 5px;}
    &:nth-child(3n+4){padding-left: 10px;}
  }
  @include respond(small) {
    width: 100%;
    padding: 0 !important;
    position: relative;
    z-index: 100;
     +.three-col {
      z-index: 90;
      +.three-col {
        z-index: 80;
      }
    }
  }
}
