section.layout-section {
  &.one_column {}
  &.two_columns {}
  &.three_columns {}
  &.two_columns_sidebar_left {}
  &.two_columns_sidebar_right {}
  &.hero_slider {
    .hero_slide {
      width: 100%;
      height: auto;
    }
  }
  &.thumbnail_gallery {}
}
.section-title {
  margin-bottom: 1.5rem;
}
.space_before_none {
  margin-top: 0;
}
.space_before_normal {
  margin-top: 2rem;
  @include breakpoint(medium) {
    margin-top: 3rem;
  }
}
.space_before_extra {
  margin-top: 5rem;
  @include breakpoint(medium) {
    margin-top: 6rem;
  }
}
.space_after_none {
  margin-bottom: 0;
}
.space_after_normal {
  margin-bottom: 2rem;
  @include breakpoint(medium) {
    margin-bottom: 3rem;
  }
}
.space_after_extra {
  margin-bottom: 5rem;
  @include breakpoint(medium) {
    margin-bottom: 6rem;
  }
}
.padded {
  padding-top: 2.125rem;
  padding-bottom: 2.125rem;
  @include breakpoint(medium) {
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
  }
}
.padded-extra {
  padding-top: 4.75rem;
  padding-bottom: 4.75rem;
  @include breakpoint(medium) {
    padding-top: 5.25rem;
    padding-bottom: 5.25rem;
  }
}
