// _mixins.scss
//---------------------------------------------------------------
// Fonts
@mixin helvetica {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}
//---------------------------------------------------------------
// Alignment Helpers
@mixin xcenter {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin xycenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin clear {
  display: inline-block;
  width: 100%;
}
//---------------------------------------------------------------
// Hover State Helper
@mixin hover {
  &:hover, &:focus {
    @content;
  }
}
//---------------------------------------------------------------
// Active State Helper
@mixin active {
  &:active {
    @content;
  }
}
