// _variables.scss
//---------------------------------------------------------------
// Color Swatches
$lighter-grey: #f2f2f2; // 95%
$light-grey: #e6e6e6; // 90%
$medium-light-grey: #d9d9d9; // 85%
$medium-grey: #bfbfbf; // 75%
$medium-dark-grey: #a6a6a6; // 65%
$dark-grey: #8c8c8c; // 55%
$darker-grey: #262626; // 15%
$off-black: #0e0e0e; // 5%
$black: #000000;
$off-white: #fefefe;
$white: #ffffff;

$primary-color: #1779ba;
$secondary-color: #767676;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #cc4b37;

//---------------------------------------------------------------
// General Options


//---------------------------------------------------------------
// Links + Navigation
$link: $primary-color;
$hover: darken($primary-color, 10%);
$nav: $link;
$nav_hover: $hover;
$sub_nav: $link;
$sub_nav_hover: $hover;

//---------------------------------------------------------------
// Buttons

